LiftTerminal/.vs
LiftTerminal/LiftTerminal/bin
LiftTerminal/LiftTerminal/obj
LiftTerminal/packages
LiftLibray/.vs
LiftLibrary/LiftLibrary/Debug
*.dll
*.pdb
LiftLibrary/.vs/LiftLibrary_V4/v14/.atsuo
LiftLibrary/.vs/LiftLibrary/v14/.atsuo
LiftLibrary/LiftLibraryUsage/Debug
LiftLibrary/Doku/
LiftLibrary/GccApplication1/
obj
