
LiftTerminal/.vs/LiftTerminal/v16/.suo
LiftTerminal/.vs/LiftTerminal/v16/Server/sqlite3/db.lock
LiftTerminal/.vs/LiftTerminal/v16/Server/sqlite3/storage.ide
LiftTerminal/.vs/LiftTerminal/v16/Server/sqlite3/storage.ide-shm
LiftTerminal/.vs/LiftTerminal/v16/Server/sqlite3/storage.ide-wal
*.pdb
*.dll
LiftTerminal/LiftTerminal/bin/Debug/LiftTerminal.exe
LiftTerminal/LiftTerminal/bin/Debug/LiftTerminal.exe.config
LiftTerminal/LiftTerminal/bin/Debug/Prism.Wpf.xml
LiftTerminal/LiftTerminal/bin/Debug/Prism.xml
LiftTerminal/LiftTerminal/bin/Debug/System.ValueTuple.xml
LiftTerminal/LiftTerminal/obj/Debug/App.g.cs
LiftTerminal/LiftTerminal/MainWindow.xaml.cs
LiftTerminal/LiftTerminal/MainWindow.xaml.cs
LiftTerminal/LiftTerminal/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.csprojAssemblyReference.cache
*.exe
LiftTerminal/LiftTerminal/obj/Debug/App.g.i.cs
LiftTerminal/LiftTerminal/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.csproj.CopyComplete
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal_MarkupCompile.i.cache
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal_MarkupCompile.cache
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.Properties.Resources.resources
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.g.resources
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.csproj.GenerateResource.cache
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.csproj.FileListAbsolute.txt
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal.csproj.CoreCompileInputs.cache
LiftTerminal/LiftTerminal/obj/Debug/LiftTerminal_MarkupCompile.lref
LiftTerminal/LiftTerminal/obj/Debug/MainWindow.baml
LiftTerminal/LiftTerminal/obj/Debug/MainWindow.g.cs
LiftTerminal/LiftTerminal/obj/Debug/MainWindow.g.i.cs
LiftTerminal/packages/System.Management.4.6.0/.signature.p7s
LiftTerminal/packages/System.Management.4.6.0/lib/net45/_._
LiftTerminal/packages/System.Management.4.6.0/lib/netstandard2.0/System.Management.xml
LiftTerminal/packages/System.Management.4.6.0/LICENSE.TXT
LiftTerminal/packages/System.Management.4.6.0/ref/net45/_._
LiftTerminal/packages/System.Management.4.6.0/ref/netstandard2.0/System.Management.xml
LiftTerminal/packages/System.Management.4.6.0/runtimes/win/lib/net45/_._
LiftTerminal/packages/System.Management.4.6.0/runtimes/win/lib/netcoreapp2.0/System.Management.xml
LiftTerminal/packages/System.Management.4.6.0/version.txt
LiftTerminal/packages/System.Management.4.6.0/useSharedDesignerContext.txt
LiftTerminal/packages/System.Management.4.6.0/THIRD-PARTY-NOTICES.TXT
LiftTerminal/packages/System.Management.4.6.0/System.Management.4.6.0.nupkg
LiftTerminal/.vs/LiftTerminal/v16/TestStore/0/000-0000.testlog
LiftTerminal/.vs/LiftTerminal/v16/TestStore/0/testlog.manifest
